.rt-SegmentedControlRoot button {
  cursor: pointer;
}

.rt-SliderRoot .rt-SliderThumb {
  cursor: grab;

}


.lineConnect {
  /* fill: magenta; */
  /* stroke: black; */
  opacity: 1;
  fill: none;
  stroke: green;
  opacity: 0.5;
}