#map {
  .drifter {
    fill: blue;
    opacity: 0.3;
    cursor: pointer;


  }

  .drifter:hover {

    fill: green;
    opacity: 1;

  }
}

/* #map .drifter:hover {
  fill: blue;
  opacity: 0.3;
} */


#map .drifter.selected {
  fill: red;
  opacity: 1;
}


.rt-SegmentedControlRoot button {
  cursor: pointer;
}

.rt-SliderRoot .rt-SliderThumb {
  cursor: grab;

}