.dark #map .drifter {
  fill: lightskyblue;
}

#map {
  .drifter {
    fill: blue;
    opacity: 0.3;
    cursor: pointer;
  }

  .drifter:hover {
    fill: green;
    opacity: 1;
  }
}

.drifter {
  cursor: pointer;
}

.drifter:hover {
  fill: green;
}

.drifter-group {
  pointer-events: auto;
}

#map {
  .drifter-group.selected .drifter,
  .drifter.selected {
    fill: red;
    opacity: 1;
  }
}

.drifter-group.selected .lineConnect {
  visibility: visible;
  stroke: green;
  opacity: 1;
}

.drifter-group:hover .lineConnect {
  visibility: visible;
  stroke: green;
}

.lineConnect {
  visibility: hidden;
  pointer-events: none;
  opacity: 0.5;
  fill: none;
  stroke: green;
  stroke-width: 3px;
}

.backgroundLineConnect {
  fill: none;
  stroke: magenta;
  opacity: 0.3;
  stroke-width: 3;
}
