#map {
  .drifter {
    fill: blue;
    opacity: 0.3;
    cursor: pointer;
  }

  .drifter:hover {
    fill: green;
    opacity: 1;
  }
}

#map .drifter.selected {
  fill: red;
  opacity: 1;
}

.lineConnect {
  opacity: 1;
  fill: none;
  stroke: green;
  stroke-width: 3;
}

.backgroundLineConnect {
  fill: none;
  stroke: magenta;
  opacity: 0.3;
  stroke-width: 3;
}
